body{
    background:#030419;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
}
#clock{
    padding:10px;
    border-radius: 25px;
    display:grid;
    grid-template: 100px 1fr/  1fr 1fr  1fr 1fr;
    grid-template-areas: 
            'd h m s' 
            'day hour minute second';
    /* height: 200px; */
    
}
#clock h1{
text-align: center;  
  width:100%;
    color:white;
}
#days{
    grid-area: day;
}
#day-header{
    grid: d;
}
#hours{    
    grid-area: hour;
}
#hour-header{
    grid-area: h;
}
#minutes{
    grid-area: minute;

}
#minute-header{
    grid-area: m;
}
#seconds{
    grid-area: second;

}
#second-header{
    grid-area: s;
}
.clock-items{
    background:#01010c;
    margin: 2px;
}
.clock-items p{
    font-size: 50px;
    color:white;
    padding:50px;
    margin:0;
    height: 100%;
    text-align: center;

}
 #start-stop-btn:active {
   box-shadow: 0 5px rgb(17, 7, 58);
    transform: translateY(4px);
  }
#start-stop-btn{
   
padding:20px;
margin-top:10px;
width:100px;
height: 50px;
font-size: 40px;
text-align: center;
cursor: pointer;
outline: none;
border: none;
border-radius: 15px;
box-shadow: 0 9px rgb(17, 7, 58);
}
.start{
    background:green;
    padding:10px;
}
.stop{
    background:red;
    padding:10px;
}
#setting-panel{
    position: absolute;
    right:  0;
    top: 0;

}
#setting-panel #panel{
    background:white;
}
#setting-options {
 width: 100%;
 text-align: center;
 box-sizing: border-box;

}
#setting-options tr td{
    color:black;
    font-size: 14px;
    padding:10px;
}
#settings{
 
font-size: 40px;  
color:white;
margin:10px;
}

/* switches */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
  }
  input:checked + .slider {
    background-color: rgb(6, 55, 95);
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }

  .hidden{
      display:none;
  }